.postItem{
  width: 50%; 
  margin: 10px auto;
  border-style: dashed;
}
.App{
  text-align: center;
}
span{
  padding: 10px 0px; 
  display: grid; 
  justify-content: center; 
  align-items: center;
}

button{
  width: 100px;
}
